{% extends "bootstrap/base.html" %}

{% block title %}FilmExtractor{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='nogizaka.jpg') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='nogizaka.jpg') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">FilmExtractor</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">有图页</a></li>
                <li><a href="/noPic">无图页</a></li>
                <li><a href="http://doc.ucweb.local/plugins/servlet/mobile?contentId=287446391#content/view/287446391">使用帮助</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}
